.root {
    --grid-row: 1;
    --grid-column: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-columns: repeat(var(--grid-column), 1fr);
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.grid-item {
    padding: 1px;
}

.color-container{
    margin:25px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 25px;
    background: lightgray;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 25px;
    margin-bottom: 50px;
    --slidercolor: black;
}

.slider:hover {
    opacity: 0.8;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 50px;
    background: var(--slidercolor);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--slidercolor);
    cursor: pointer;
}